<div class ="header">
  <ul class="fixed-links">
    <li><a>Who am I?</a></li>
    <li>|</li>
    <li><a routerLink="/blog">Blog</a></li>
    <li>|</li>
    <li><a>Projects</a></li>
  </ul>
  <div class="arrow"></div>
  <div class="lang">Language</div>
</div>

<router-outlet></router-outlet>

<div class ="footer">
  <div class="contact">
    <ul>
    <li><a>Linkedin</a></li>
    <li><a>Xing</a></li>
    <li><a>Github</a></li>
    <li><a>Email</a></li>
    <li><a>Skype</a></li>
    <li><a>Medium</a></li>
    <li><a>Twitter</a></li>
   </ul>
<!--    <div class="arrow"></div>-->
    <div class="diamond"></div>
    <span>designed and implemented by Zahra</span>
  </div>
</div>


