<div class="main">
  <div class ="layer-top"></div>
  <div class="container">
    <!--    <span class="circle2" (click)="openProjects()"><p>Projects</p></span>-->
    <div class="circle" (click)="openBio()">
      <img src="./assets/myface.jpg"/>
    </div>
    <!--    <div class="circle3" (click)="openBlog()">-->
    <!--    <div class="circle3">-->
    <!--      <a href="blog">Blog</a>-->
    <!--      <app-blog *ngIf="displayBlog"></app-blog>-->
    <!--    </div>-->
  </div>
  <div class ="layer-bot">
  </div>
</div>
